<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Table</title>
</head>
<body>
    <div th:fragment="projectTable">
        <table>
            <thead>
                <th>
                    <tr>
                        <td>Project</td>
                        <td>Client</td>
                        <td>Duration</td>
                        <td>Development Type</td>
                        <td>Members</td>
                        <td>Status</td>
                    </tr>
                </th>
            </thead>
            <tbody>
                <tr th:each= "project:${listOfProjects}">
                    <td th:text="${project.proj_name}"></td>
                    <td th:text="${project.client_name}"></td>
                    <td th:text="${project.start_date + ' - ' + project.end_date}"></td>
                    <td th:text="${project.dev_type_name}"></td>
                    <td th:text="${project.members}"></td>
                    <td th:text="${project.proj_status_name}"></td>
                </tr>
            </tbody>
            <tfoot th:if="${listOfProjects == null or #lists.isEmpty(listOfProjects)}">
                <tr>
                    <td colspan="6" align="center">
                        No data availble yet
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</body>
</html>