<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Table</title>
</head>
<body>
    <div th:fragment="projectTable">
        <table>
            <thead>
                <th>
                    <tr>
                        <td>Sample</td>
                        <td>Sample</td>
                        <td>Sample</td>
                        <td>Sample</td>
                    </tr>
                </th>
            </thead>
            <tbody>
                <td>sample</td>
                <td>sample</td>
                <td>sample</td>
                <td>sample</td>
            </tbody>
        </table>
    </div>
</body>
</html>